/* スマートフォン向けレイアウト */
/* ブレイクポイントをmax-width: 670pxに指定してください */
@media(max-width:670px){
    .hude .web{
      width:100%;
    }
  

  /* header-rightクラスのdisplayをnoneに指定してください */
  .header-tight{
    display:none;
  }
  
  /* menu-iconクラスのdisplayをblockに指定してください  */
  .menu-icon{
    display:block;
  }
  .top-container{
      font-size: 20px;
  }
  .aboutme-img{
      width: 15%;
      height: 15%;
  }
  #footer{
      display: none;
  }
  .text-contents{
      padding-left: 0;
  }
  .form{
      padding-left: 0;
  }
  .twitter{
      padding-right: 0;
  }
  .web-icon{
      height: 100px;
  }
  #skills{
      text-align: left;
  }
  #aboutme{
      text-align: right;
  }

}
