.top-wrapper{
    color: white;
    background-image: url(/png/macbook1997_2_V.jpg);
    background-size: cover;
    height: 600px;
    text-align: center;
    
    
    
}

    .top-container{
        opacity: 0.8;
        letter-spacing: 5px;
        font-size: 30px;
        padding-top: 90px;

    }
    .subtitle{
        text-align: center;
        opacity: 0.7;
        background-color:#000;
        color: white;
        font-size: 13px;
        padding-bottom: 10px;
        padding-top: 10px;
        margin-top: 20px;
        letter-spacing: 7px;
        
    }
    span{
        color:red;
    }
    .menu{
        float: right;
        font-family: cursive;
        padding-right: 30px;
        font-size: 30px;
        padding-top: 20px;
        color: black;
        background-color: white;
    }
    .aboutme-wrapper{
       
        width: auto;
        margin-top: 120px;
        margin-bottom: 60px;
        
    
    }
    #aboutme{
        text-align: center;
        font-family: cursive;
        width: auto;
        font-size: 30px;
        background-color: black;
        color: white;

    }
    .aboutme-container{
        display: flex;
        padding-bottom: 30px;
        
    }
    .aboutme-coment{
        padding-left: 30px;
        padding-top: 30px;
    }
    .skills-wrapper{
        background-image: url(/png/washi.jpg);
        width: auto;
        color:black;
        margin-top: 120px;
        margin-bottom: 5cm;
    }
    #skills{
        text-align: center;
        font-family: cursive;
        font-size: 30px;
        background-color: black;
        color: white;
        

    }
    .skills container{
        width: auto;
        text-align: center;
    }
    .skills-container h3{
        text-align: center;
        width: auto;
        
    }
    .hudes{
        width: auto;
        margin-top: 100px;
        
    }

    .hude{
        float: left;
        width: 33.3%;
        
    }


    .text-contents{
        width:80%;
        display: inline-block;
        font-size:16px;
        color:black;
        text-align: center;
        opacity: 0.8;
        padding-left: 100px;
    }
    .webs{
        width: auto;
        padding-top: 17cm;
        padding-bottom: 10cm;
        }

    .web{
        float: left;
        width: 33.3%;
        
    }
    
    .works-wrapper{
        margin-top: 3cm;
    }
    
    #works{
        text-align: center;
        font-family: cursive;
        font-size: 30px;
        margin-top:0;
        background-color: black;
        color: white;
        height: 50%;

        
    }
    .works-container{
        text-align: center;
        padding-top:20px;
    }
    .contact-wrapper{
        background-color: black;
        margin-top:2cm;
        margin-bottom: 13cm;
        
        
    }

    #contact{
        text-align: center;
        font-family: cursive;
        font-size: 30px;
        margin: auto 0;
        color: white;
    }
    .form{
        float:left;
        padding-left:200px;
    
        padding-top:30px;
    }
    .twitter{
        float: right;
        padding-right: 200px;
        text-align: center;
    }
    .twitter p{
        background-color: #55acee;
        border-radius: 5px;
        width: 40%;
        margin-left:auto;
        margin-right: auto;
    }
    .fa{
        color: white;
    }
    #footer{
        text-align: center;
        background-color: black;
        color: gray;
        margin: auto 0;
    }

    
    
        
    
    
